extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Chequea que la URL es correcta!
    else 
        script. 
            const userProfileId = '!{profileUser._id}'; 
            const selectedTab = '!{selectedTab}'; 
        - followersCount = profileUser.seguidores.length 
        - followingCount = profileUser.siguiendo.length

        .profileHeaderContainer 
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.fotoPortada 
                        img(src=profileUser.fotoPortada, alt="portada")
                    if profileUser._id == userLoggedIn._id  
                        button.coverPhotoButton(data-toggle="modal", data-target="#coverPhotoUploadModal")
                            i.fas.fa-camera
                .imagenUsuarioContainer 
                    img(src=profileUser.foto, alt="Imagen perfil")
                    if profileUser._id == userLoggedIn._id  
                        button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal")
                            i.fas.fa-camera
            .profileButtonsContainer 
                if profileUser._id !== userLoggedIn._id
                    a.profileUserButton(href="/messages/" + profileUser._id)
                        i.fas.fa-envelope
                    - const profileUserId = profileUser._id.toString();
                    - if (userLoggedIn.siguiendo && userLoggedIn.siguiendo.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)

                    
            .userDetailsContainer
                span.displayName #{profileUser.displayName}
                span.usuario @#{profileUser.usuario}
                span.description #{profileUser.descripcion}

                .followersContainer 
                    a(href=`/profile/${profileUser.usuario}/siguiendo`)
                        span.value #{followingCount}
                        span Siguiendo
                    a(href=`/profile/${profileUser.usuario}/seguidores`)
                        span#followersValue.value #{followersCount}
                        span Seguidores
        .tabsContainer 
            +createTab("Dwits", `/profile/${profileUser.usuario}`, selectedTab !== "replies" )
            +createTab("Respuestas", `/profile/${profileUser.usuario}/replies`, selectedTab == "replies")

        .postContainer
        +createPostModals(userLoggedIn)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()


block scripts 
    script(src="/scripts/profile.js") 
