extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Registro 

        form#formulario(method="post", onsubmit="event.preventDefault(); validarFormulario();") 

            p.errorMessage #{errorMessage}

            input(type="text", name="usuario", placeholder="Usuario", required=""  value=usuario)
            input(type="text", name="displayName", placeholder="Displayname", required=""  value=displayName)  
            input(type="email", name="email", placeholder="Email", required=""  value=email) 
            input#password(type="password", name="password", placeholder="Contraseña", required=""  value=constrasenia)
            input#confirmarPassword(type="password", name="confirmarPassword", placeholder="Confirmar contraseña", required="")
            input(type="submit", value="Registrarme")

        a(href="/login") ¿Ya tenés una cuenta? Ingresá!

    script. 
        const password = document.getElementById("password");
        const confirmarPassword = document.getElementById("confirmarPassword"); 
        const form = document.getElementById("formulario");

        const validarFormulario = () => {
            password.value !== confirmarPassword.value ? alert("Las contraseñas no coinciden") : form.submit();
        }


