// Los mixins son bloques reusables de codigo 

mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .imagenUsuarioContainer 
            img(src=userLoggedIn.foto, alt="Foto perfil")
        .textAreaContainer 
            textarea#postTextArea(placeholder="¿Qué contás?")
            .buttonsContainer 
                button#enviarPostButton(disabled="") Dwit

mixin responderModal(userLoggedIn)
    #responderModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='responderModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#responderTitle.modal-title Responder
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .imagenUsuarioContainer 
                            img(src=userLoggedIn.foto, alt="Foto perfil")
                        .textAreaContainer 
                            textarea#respuestaTextArea(placeholder="¿Qué contás?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#responderButton.btn.btn-primary(type='button', disabled="") Responder

mixin borrarModal()
    #borrarModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='borrarModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#borrarTitle.modal-title Borrar Dwit
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p#borrarTexto.text-center ¿Estás seguro de que quieres borrar este Dwit?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#borrarButton.btn.btn-primary(type='button') Borrar

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Cargar nueva foto de perfil
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#imageUploadButton.btn.btn-primary(type='button') Guardar

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Cargar nueva foto de portada
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")
                    .imagePreviewContainer 
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#coverPhotoUploadButton.btn.btn-primary(type='button') Guardar

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin este Dwit
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Este Dwit será mostrado arriba de todo en tu perfil. Solo podrás pinnear uno a la vez
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#pinPostButton.btn.btn-primary(type='button') Pinnear


mixin createPostModals(userLoggedIn)
    +responderModal(userLoggedIn)
    +borrarModal()
    +createPinnedPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Siguiendo" : "Seguir"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class= buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class= className)
        span #{name}